html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/static/index.css')
      link(rel='stylesheet', href='/static/css/table.css')
      link(rel='stylesheet', href='/static/css/element.css')
      link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Noto+Serif')

  body
    div#content
      a(href='/force-directed/graph/files/data/friends.csv') friends
      br
      
      a(href='http://visualize.localhost/force-directed/graph-from-html/html/files/data/friends.md') friends with groups (should write a function to collapse two verticies connected with a node with no label in a graph)
      br
      
      a(href="/chart/csv2json/files/private/data/mint.com/trends.csv") Net worth over time
      br
      
      a(href="/slideshow/https://www.reddit.com/r/CityPorn+EarthPorn+ExposurePorn+lakeporn+wallpaper+wallpapers+windowshots/.json") Ken Burns slideshow
      br

      a(href="/templates/bars/csv2json/files/private/data/mint.com/trends.csv") Net worth over time using d3
      br

      p.line
        span.prompt > &nbsp;
        span(contenteditable='true')
    footer
      div.inner
        block footer
