html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/files/index.css')
      link(rel='stylesheet', href='/files/pretty.css')
      link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Noto+Serif')
      link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lora')
      link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300')
      link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Libre+Baskerville')
      style.
      
  body
    table
      tr
        td#content
          != payload

    footer
      div.inner
        block footer
