html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/static/index.css')
      link(rel='stylesheet', href='/static/css/table.css')
      link(rel='stylesheet', href='/static/css/element.css')
      link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Noto+Serif')

  body
    div#content
      p.line
        span.prompt > &nbsp;
        span(contenteditable='true')
    footer
      div.inner
        block footer
