<!doctype html>
<html>
<head>
  <title>{{uri}}</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.0/vis.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.0/vis.min.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
    #mynetwork {
      width: 100%;
      height: 100vh;
      border: 1px solid lightgray;
    }
    p {
      max-width:600px;
    }
  </style>
</head>

<body>
<a href="{{uri}}">source</a>
<div id="mynetwork"></div>

<script type="text/javascript">

var DOMURL = window.URL || window.webkitURL || window;

function render(payload) {
  var container = document.getElementById('mynetwork');

  function short(from) {
    // empty label for blank nodes
    if (typeof from == 'undefined') return undefined;
    if (typeof from == 'number') from = from.toString();
    if (from.startsWith('_')) return '';

    if (RegExp('^https?://').test(from)) {
      from = from.substr(from.lastIndexOf('/') + 1);
      from = from.substr(from.lastIndexOf('#') + 1);
    }
    return from;
  }
  payload.nodes.forEach(function(node) {
    node.label = node.label || node['http://www.w3.org/1999/02/22-rdf-syntax-ns#label'];
    if (!node.label) {
      node.label = short(node.uri);
    }
    node.shape = node.shape || 'circle';
    // node.shape = 'dot';
    // node.font = {size: 20};
    node.size = node.size || 50;
    // node.color = 'red';
  });

  payload.edges.forEach(function(edge) {
    edge.arrows = 'to';
    if (edge.label)
      edge.label = short(edge.label);
  });

  var data = {
    nodes: payload.nodes,
    edges: payload.edges
  };
  var options = {
    layout: {
      // hierarchical: 'ud',
      randomSeed: 3
    }
  };
  var network = new vis.Network(container, data, options);
};

document.addEventListener('keypress', (event) => {
  if (event.key == 'r') $.getJSON("{{uri}}", render);
}, false);

$.getJSON("{{uri}}", render);


</script>

</body>
</html>
